.footer {
    position: relative;
    margin-top: 8rem;
}

footer {
    /* display: block; */
}

*, :after, :before {
    box-sizing: border-box;
}

footer {
    display: block;
}

@media (min-width: 992px){
.footer:before {
    height: calc(110% + 2px);
    transform: translate(-50%,-50%);
}}

@media (min-width: 768px){
.footer:before {
    height: calc(140% + 2px);
    top: 45%;
    left: 50%;
    transform: translate(-50%,-60%);
}}

.footer:before {
    content: "";
    z-index: -1;
    position: absolute;
    width: 5000px;
    height: 50%;
    top: 0;
    left: 50%;
    transform: translate(-50%,-10%);
    background-image: url(../img/footer.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    pointer-events: none;
}

@media (min-width: 768px){
.footer:after {
    display: none;
}}

.footer:after {
    content: "";
    position: absolute;
    top: 20%;
    background-color: #2e343d;
    width: 100%;
    height: 5000px;
    left: 0;
    z-index: -2;
}