section.features{
    min-height: 93vh;
}

section.pricing {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.pricing .card:hover{
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: antiquewhite;
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  opacity: 0.7;
  transition: all 0.2s;
}


.barra-conversao {
  position: relative;
  width: 100%;
  left: 0;
  bottom: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: -200px;
  transition: margin 0.5s ease-in-out;
  z-index: 10;
  box-shadow: 0 0 40px 10px rgba(63, 63, 62, 0.4);
  background-color:#ffffff!important;
  display: none;
}

.barra-conversao.active {
  margin-bottom: 0;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(197, 12, 12, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}


section.features {
    background: url("../img/bg-pattern2.png"), #7b4397;
    background: url("../img/bg-pattern2.png"), linear-gradient(to left, #0003b6, #0c55f3);
  }
  section.features .section-heading {
    margin-bottom: 10px;
  }
  
  section.features .section-heading h2 {
    margin-top: 0;
  }
  
  section.features .section-heading p {
    margin-bottom: 0;
  }
  
  section.features .device-container,
  section.features .feature-item {
    max-width: 325px;
    margin: 0 auto;
  }
  
  section.features .device-container {
    margin-bottom: 100px;
  }
  
  @media (min-width: 992px) {
    section.features .device-container {
      margin-bottom: 0;
    }
  }
  
  section.features .feature-item {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    
  }
  
  section.features .feature-item h3 {
    font-size: 30px;
  }
  
  section.features .feature-item i {
    font-size: 80px;
    display: block;
    margin-bottom: 15px;
    background: linear-gradient(to left, #a10eeb, #dc2430);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }